.civic-header {
    width: 100%;
    border-bottom: solid 1px darkslategrey;
    padding: 0.5rem;
    margin-top: 1rem;
}

.civic-header .image {
    height: 6vh;
    border-radius: 5px;
}

.civic-header .label {
    font-size: 2rem;
}
