.technology-details-item {
    padding-top: 1vh;
    padding-left: 1rem;
}

.technology-details-item .label {
    font-size: 0.75rem;
    font-weight: bold;
    opacity: 0.5;
}

.technology-details-item .value {
    font-size: 1.25rem;
}
