.footer {
    border-top: solid 1px #e9eae8;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3vh;
}

.footer .theme-logo {
    background-image: url("../../../public/sl-logo-dark.svg");
}

.footer .sl-logo {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 360px;
    height: 20px;
}
